.text-muted {
  color: #999999;
}

.text-primary {
  color: #428bca;
}

.text-primary:hover {
  color: #3071a9;
}

.text-warning {
  color: #8a6d3b;
}

.text-warning:hover {
  color: #66512c;
}

.text-danger {
  color: #a94442;
}

.text-danger:hover {
  color: #843534;
}

.text-success {
  color: #3c763d;
}

.text-success:hover {
  color: #2b542c;
}

.text-info {
  color: #31708f;
}

.text-info:hover {
  color: #245269;
}