{% extends "base.html" %}
{% load i18n %}

{% block title %}Password reset complete{{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="login-panel panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">{{ user|title }}, {% trans "your new password has been set." %}</h3>
        </div>
        <div class="panel-body">
          <p><a class="btn btn-lg btn-info btn-block" href="{{ login_url }}">Log in</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
