CouchDB==0.9
Cython==0.20.1
Jinja2==2.7.3
Mako==1.0.0
Markdown==2.4.1
OWSLib==0.8.7
Pillow==2.4.0
PyPrind==2.6.0
PyYAML==3.11
Shapely==1.3.2
beautifulsoup4==4.3.2
bokeh==0.4.4
cdo==1.2.3
colander==0.9.9
descartes==1.0.1
envisage==4.4.0
faulthandler==2.3
h5py==2.3.0
ipdb==0.8
ipython==2.1.0
logilab-astng==0.24.3
logilab-common==0.61.0
lxml==3.3.5
mahotas==1.1.0
matplotlib==1.3.1
mmi==0.1.4
netCDF4==1.1.1
networkx==1.8.1
nose==1.3.0
numpy==1.9.1
numexpr==2.4
pandas==0.15.1
paramiko==1.14.0
pymunk==4.0.0
pyparsing==2.0.1
pyproj==1.9.3
python-dateutil==2.2
pytz==2014.9
pyzmq==14.3.1
requests==2.3.0
reportlab==3.1.8
scikit-image==0.10.0
scikit-learn==0.14.1
scikits.vectorplot==0.1.1
scipy==0.14.0
simplejson==3.5.2
simplekml==1.2.3
traits==4.5.0
traitsui==4.4.0
translationstring==1.1
xlrd==0.9.3
xlwt==0.7.5
zope.interface==4.1.1
Rtree==0.7.0
psycopg2==2.5.3 # set PATH/usr/pgsql-9.3/bin/
pysparse==1.2-dev213 # version needed because of only dev versions are available
gdal==1.9.1 # version needs to match yum version
-e git+git://github.com/stamen/modestmaps-py#egg=ModestMaps


#rpy2 # needs R installed
#mayavi # cant find VTK even when installed
#UniConvertor # no results found...
#tables # needs numexpr to be installed